.outlet {
    padding: 20px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;

    box-sizing: border-box;
}

.homeButton {
    margin-bottom: 20px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}